body {
    text-align: center;
    margin: 0;
    background: #bf4d5d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#converter {
    width: 220px;
    background-color: #0d1b2a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(226, 17, 17, 0.19);
}

#inputValue, #display, select {
    width: calc(100% - 20px);
    height: 40px;
    font-size: 20px;
    text-align: left;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #e0e1dd;
    background-color: rgba(0, 118, 245, 0.3);
    border: none;
    box-sizing: border-box;
}

select {
    background-color: rgba(0, 118, 245, 0.7);
}

button {
    width: calc(100% - 20px);
    height: 50px;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(13, 27, 42);
    color: #e0e1dd;
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(1.05);
    box-shadow: 0 24px 4px 1px rgba(0, 0, 0, 0.19), 0 1.5px rgba(0, 0, 0, 0.23);
}

h3 {
    color: #fff;
}
